<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
    <script>
        window.addEventListener("pageshow", function(event) {
            if (event.persisted) {
                // If the page was loaded from the cache, reload it
                window.location.reload();
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('form').forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    let submit = this.querySelector('input[type="submit"], button[type="submit"]');
                    submit.disabled = true;
                    console.log("disabled submit button")

                    let username = this.querySelector('input[name="username"]');
                    let password = this.querySelector('input[name="password"]');
                    if (username) {
                        username.setAttribute('readonly', true);
                        console.log("Set username to readonly");
                    }
                    if (password) {
                        password.setAttribute('readonly', true);
                        console.log("Set password to readonly");
                    }
                });
            });
        });

    </script>
</head>
<body>
    <div class="container">
        <h1>Login to Your Account</h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="username" id="username" name="username" required class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</body>
</html>