{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ profile.display_name }}'s Profile</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Checkpoint</a>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            {% if loginIn %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'gamesearch:search_game' %}">Search for Games</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'events:event_list' %}">Event List</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img
                {% if profile.profile_photo %}
                src="{{ profile.profile_photo.url}}"
                {% else %}
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                {% endif %}
                alt="avatar"
                class="rounded-circle card-img"
                style="width: 150px; height: 150px; object-fit: cover;"
              />
              <h5 class="my-3">{{ profile.display_name }}</h5>
              <p class="text-muted mb-1 cap-text">{{ profile.account_role }}</p>
              <div class="d-flex justify-content-center mb-2">
                {% if own %}
                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary"
                  onclick="window.location.href='/profile/edit';"
                >
                  Edit
                </button>
                {% else %}
                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-primary"
                >
                  Follow
                </button>
                <button
                  type="button"
                  data-mdb-button-init
                  data-mdb-ripple-init
                  class="btn btn-outline-primary ms-1"
                >
                  Message
                </button>
                {% endif %}
              </div>
              <!-- New button to link to search profiles -->
              <div class="d-flex justify-content-center mb-2">
                <button
                  type="button"
                  class="btn btn-secondary"
                  onclick="window.location.href='{% url 'userProfile:searchProfile' %}';"
                >
                  Search Profiles
                </button>
              </div>
            </div>
          </div>
          {% if viewable %}
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-gamepad fa-lg text-warning"></i>
                  <p class="mb-0">Gaming Usernames</p>
                </li>
                {% for platform, username in gaming_usernames.items %}
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  {% if platform == "playstation" %}
                  <i class="fab fa-playstation fa-lg text-body"></i>
                  {% elif platform == "xbox" %}
                  <i class="fab fa-xbox fa-lg" style="color: #4a8d4b"></i>
                  {% elif platform == "steam" %}
                  <i class="fab fa-steam fa-lg" style="color: #00adee"></i>
                  {% elif platform == "nintendo" %}
                  <i class="fab fa-nintendo-switch fa-lg" style="color: #e60012"></i>
                  {% elif platform == "others" %}
                  <i class="fab fa-whatsapp fa-lg" style="color: #25d366"></i>
                  {% else %}
                  <i class="fas fa-user fa-lg text-secondary"></i>
                  {% endif %}
                  <p class="mb-0 cap-text">
                    {{ platform|title }}: <strong>{{ username }}</strong>
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              {% if viewable %}
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Display Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ profile.display_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ profile.user.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Bio</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ profile.bio }}</p>
                </div>
              </div>
              {% else %}
              <p class="text-danger mb-0">This profile is private.</p>
              {% endif %}
            </div>
          </div>
          {% if viewable %}
              <div class="card mb-4">
                <div class="form-group">
                  <div class="card-body">
                    <label for="shelf-select">Select Shelf:</label>
                    <select id="shelf-select">
                      <option value=""></option>
                      {% for shelf in user_games%}
                        <option value="{{shelf}}">{{shelf|title}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div id="game-list">
                </div>
              </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>

  <script>
    document.getElementById("shelf-select").addEventListener("change", function(){
      var shelf = this.value;
      var gameIds = {{user_games|safe}}[shelf];
      gameIds = gameIds.slice(0, 9);
      const gameListDiv = document.getElementById("game-list")
      if(gameIds.length == 0){
        gameListDiv.innerHTML = '<p class="text-muted"> Nothing to see here! </p>'
        return;
      }else{
        gameListDiv.innerHTML = `<div id="loading-spinner">
                        <div class="spinner-border text-primary" role="status">
                            {% comment %} <span class="visually-hidden">Loading...</span> {% endcomment %}
                        </div>
                        <p>Fetching games...</p>
                    </div>`
        const gameIdString = `(${gameIds.join(',')})`;
        console.log(gameIdString);  
        fetch("{% url 'userProfile:fetch_game_details' %}", {
          method: "POST",
          body: new URLSearchParams({ 'gameIds[]': gameIds })
        })
        .then(response => 
            response.json().then(gameDetails => {
              // Update HTML directly within this block
              gameListDiv.innerHTML = `
                <div class="game-grid">
                  ${gameDetails.map(game => `
                    <div class="game-item">
                    <a href="${game.redirect_url}">
                      <img src="https://${game.cover}" alt="${game.name}" class="game-cover" title="${game.name}" />
                    </a>
                      </div>
                    
                  `).join('')}
                </div>
                <button id="view-all-button" class="view-all-btn">View all my games</button>
              `;
            })
          )
        .catch(error => {
          console.error('Error fetching game data:', error);
          gameListDiv.innerHTML = '<p class="text-danger">Error fetching game data.</p>';
        });
        
      }
    });
  </script>

</html>